{% extends 'base.html' %}

{% block content %}
<div class="container mt-4">
    <h1 class="text-left">About</h1>
    <div class="row">
        <div class="col-md-12">
            <div class="p-5 bg-white shadow rounded">
                <p class="placeholder-glow">
                    <span>The RAGECAN framework is one of the products of the research conducted by Arthur Bindá to obtain a master's degree in computer science. The solution comes from the author's dissatisfaction with the complexity of learning this very important step in manipulating gene expression data: dimensionality reduction.</span>
                    <span>The dimensional reduction phase is essential for increasing confidence in classifying cancer samples, and while computer science researchers develop more advanced and complex techniques, this type of innovation, which would benefit areas of health research outside of computer science, often takes a long time to become accessible to researchers without programming knowledge.</span>
                    <span>Therefore, the RAGECAN framework seeks, through an automatic selection framework and graphical interface, to make the use of dimensional reduction techniques more accessible and, consequently, to boost new discoveries related to cancer and its most relevant genes.</span>
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
